{
  "branches": [
    {
      "name": "main"
    }
  ],
  "repositoryUrl": "https://github.com/dmorina/semantic-release-test",
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular"
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "tagFormat": "${version}"
}
